/.quarto/
files/AndreyPafnutyev_DataVisualization.pdf
files/AndreyPafnutyev_FlushingNorth_Analysis.pdf

projects/images/lobsterland.jpg
projects/images/nyc.jpeg
projects/images/boxplot.svg
projects/images/carrerpathway.svg
projects/images/lightcast_logo.jpg
projects/images/salarydist.svg
projects/images/salary.svg
projects/images/top10titles.svg
projects/images/toptitles.svg
projects/images/trends.svg
projects/images/scatter_remote.html
projects/images/scatter_onsite.html
projects/images/scatter_master’s_or_phd.html
projects/images/scatter_hybrid.html
projects/images/scatter_bachelor’s_or_lower.html
projects/images/histogram_remote.html
projects/images/histogram_onsite.html
projects/images/histogram_master’s_or_phd.html
projects/images/histogram_hybrid.html
projects/images/histogram_bachelor’s_or_lower.html